<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>ぎょい～と</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
      御意!!> <%= content_tag :span, " ", class: "glyphicon glyphicon-user" %>
    <h1>Gyoitter</h1>
    <%= link_to "直ちにアカウント登録", signup_path, class: "btn btn-lg btn-primary" %><br><br>
    <%= link_to "激しくログイン", login_path, class: "btn btn-lg btn-success" %>
  </div>
<% end %>

