<h1>ユーザ情報変更</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%# エラー表示。object = @user %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "お名前" %>
      <%= f.text_field :name %>

      <%= f.label :email, "メール" %>
      <%= f.text_field :email %>

      <%= f.label :profile, "プロフィール" %>
      <%= f.text_field :profile %>

      <%= f.label :location, "お住まいの地域" %>
      <%= f.text_field :location %>

      <%= f.label :age, "年齢" %>
      <%= f.text_field :age %>

      <%= f.label :birthday, "誕生日（入力例：1111）" %>
      <%= f.text_field :birthday %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "submit!!", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>