<h1>ぷろふぃ～る変更</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%# エラー表示。object = @user %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "お名前" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email, "メール" %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :profile, "自己紹介" %>
      <%= f.text_field :profile, class: 'form-control' %>

      <%= f.label :location, "お住まいの地域" %>
      <%= f.text_field :location, class: 'form-control' %>

      <%= f.label :age, "年齢" %>
      <%= f.text_field :age, class: 'form-control' %>

      <%= f.label :birthday, "誕生日（入力例：1111）" %>
      <%= f.text_field :birthday, class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "変更しますよ!!", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>