<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
        <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="profile">
      <ul>
        <b>
        <li>名前：<%= @user.name %></li>
        <li>メール：<%= @user.email %></li>
        <li>プロフィール：<%= @user.profile %></li>
        <li>お住まいの地域：<%= @user.location %></li>
        <li>年齢：<%= @user.age %></li>
        <li>誕生日：<%= @user.birthday %></li>
        </b>
      </ul>
      <%#>プロフィール変更用リンク設置。自身のプロフィール画面の場合のみリンク生成<%>
      <% if @user == current_user %>
        <b><%= link_to "プロフィールを変更する" , edit_user_path %></b>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <%# フォロー・アンフォローボタン設置 %>
    <%= render 'follow_form' if logged_in? %> <br>
      <% if @user.microposts.any? %>
        <%= paginate @microposts %>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= paginate @microposts %>
      <% end %>
  </div>
</div>
