<%# @userがnillの場合、current_userを代入%>
<%# homeではcurrent_userの情報を表示、show画面では指定ユーザの情報を表示させる%>
<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <b>ふぉろ～
    <strong id="following" class="stat">
      <%= @user.following_relationships.count %>
    </strong></b>
  </a>
  <br>
  <a href="<%= followers_user_path(@user) %>">
    <b>ふぉろわ～
    <strong id="followers" class="stat">
      <%= @user.follower_relationships.count %></b>
    </strong>
  </a>
</div>
<b><%= link_to "ふぉろ～したいぎょいら～を探す", users_path %></b>